# DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/thinkzaar?schema=public"

# REDIS
REDIS_URL="redis://localhost:6379"

# JWT
JWT_ACCESS_SECRET="your-access-secret"
JWT_REFRESH_SECRET="your-refresh-secret"

# FRONTEND
NEXT_PUBLIC_API_URL="http://localhost:3001"
